/* iPads (portrait and landscape) ----------- */



    .container {
      margin: 0 auto;
      width: 100%;
    }

    .header-background {
      background-color: #57bfd6;
      width: 100%;
      height: 45px;
      padding-bottom: -10px;
    }

    .about_logo {
      width: 150px;
      z-index:2;
    }

    .secondary-header {
      background-color: #cbfeff;
      height: 3rem;
      z-index: 1;
      padding: .5rem;
      text-align: left;

    }

    .fixed {
      position: fixed;
      top: 0px;
    }

    .headline_a {
      position: relative;
      float: left;
      width:50%;
      margin-top: -.07rem;
      font-size: 1.5rem;
      font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;

    }

    .sponsored_by {
      width: 15%;
      float: right;
    }

    .main-image {
      width: 100%;
    }


    .main-content {
      margin-left: .5rem;
      width: 55% !important;
      display: inline-block;
      float: left;
      margin-top: .5rem;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;

    }

    .very-well-div {
      display: inline-block;
      width: 38%;
      float: left;
      margin-left: 2rem;
      margin-top: 1.35rem;
    }

    .voluptate {
      font-size: 1.8rem;
    }


    .apple-logo {
      text-align: center;
      margin- 10px;
    }

    .blue-backdrop {
      margin-top: 12px;
      background-color: #83b7c2;
      padding-top: 10px;
      height: 21.3rem;
      clear: both;
      /*overflow: auto;*/

    }

    .formfor-ipad {
      text-align: center;
    }
    .inputfor-ipad {
      margin-bottom: 0;
      background-color: #83b7c2;
      width: 85%;
      display: inline-block;
      -webkit-box-shadow: none;
              box-shadow: none;
      border: 1px solid white;
      color: white;
      line-height: 1.4rem;
      padding-left: .7rem;
    }

    .custom-engraving {
      color: white;
      text-align: center;
    }

    .buttonfor-ipad {
      margin-top: 1rem;
      background-color: #83b7c2;
      width: 85%;
      display: inline-block;
      -webkit-box-shadow: none;
              box-shadow: none;
      border: 1px solid white;
      color: white;
      line-height: 2rem;
    }

    .active-ipad {
      text-align: center !important;
      margin-top: 4.1rem;
      margin-right: 3.5rem;
      padding-top: 4.5rem;
      width: 34%;
      height: 317px;
      float: right;
      position: relative;
      background-image: url("http://0.tqn.com/f/beta/test/assets/ipad.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    .left-form {
      width: 55%;
      float: left;
      margin-left: 2rem;
    }

    .centerer {
      text-align: center;
    }
    .post-container {
      width: 400px;
      text-align: center !important;
    }

    #input1post {
      position: absolute;
      text-align: center;
      color: #545454;
      display: inline-block;
    }

    #input2post {
      position: absolute;
      text-align: center;
      color: #545454;
      display: inline-block;

    }

    #input3post {
      position: absolute;
      text-align: center;
      color: #545454;
      display: inline-block;
}
